<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Jenkins Test Suite" verbose="1" parallel="methods" thread-count="1">
    <test name="All Tests">
        <packages>
            <package name="org.example.*"/>
        </packages>
    </test>
</suite>